.root {
  .rel;
  width: 100%;
  // height: 667px;
  overflow: hidden;
  padding-top: 177.866%;
}

.viewWrap {
  .abs;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: transform .3s;
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  background: url(http://mywizz.io/apps/clienkit/themeimg1.jpeg);
  background: url(../../demo.jpg);
  background-size: contain;
  pointer-events: none;
}

.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.bg(@clr) {
  background-color: @clr;
}
.fg(@clr) {
  color: @clr;
}

.boxStatus {
  // 상단상태줄
  .rel;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  // 좌우 아이콘
  :global(.pt-icon) {
    padding: 0 5px;
  }
}

// 좌우 플로팅
.left {
  .abs;
  left: 0;
  top: 0;
  bottom: 0;
}
.right {
  .abs;
  right: 0;
  top: 0;
  bottom: 0;
}

.boxList {
  // 글목록 메인박스
  height: inherit;
  overflow: hidden;

  .item {
    // 글목록 개별항목
    padding: 10px;
    border-bottom: 1px solid red;
    .topRow {
      display: flex;
      .title {
        font-size: 13.2px;
        line-height: 20px;
        margin-right: 10px;
        flex: 1;
      }
      .comment {
        width: 20px;
        height: 15px;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid blue;
        .active {
          // 액티브
          border-width: 0;
        }
      }
    }
    .bottomRow {
      display: flex;
      font-size: 10px;
      line-height: 16px;
      .div {
        padding: 0 5px;
      }
      .recommend {
        .hot {
        }
      }
      .time {
      }
      .name {
        font-size: 12px;
        flex: 1;
        text-align: right;
        font-weight: bold;
      }
    }
  }
}

.boxPrimary {
  .abs;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  text-align: center;
  z-index: 1;
  :global(.pt-icon-large) {
    padding: 0 10px;
  }
  transition: opacity .2s;
  &.hidden {
    // 숨김처리
    opacity: 0;
  }
  .left {
    line-height: 44px;
  }
  .right {
    line-height: 44px;
  }
  .subText {
    font-size: 9px;
    line-height: 14px;
  }
  .text {
    font-weight: bold;
    letter-spacing: -1px;
  }
}

// 점 페이징
.dots {
  line-height: 4px;
  .dot {
    display: inline-block;
    border-radius: 50%;
    margin-right: 7px;
    width: 4px;
    height: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
}

///
.slideList {
  transform: translateX(74.66%);
  box-shadow: 0 0 30px #000;
}

/// 메뉴
.boxMenuWrap {
}
.boxMenu {
  .abs;
  left: 10px;
  top: 30px;
  bottom: 10px;

  border-radius: 5px 0 0 5px;
  width: 72%;
  display: flex;
  flex-direction: column;
  .header {
    .rel;
    text-align: center;
    box-shadow: inset 0 -1px rgba(0, 0, 0, .1);
    height: 40px;
    line-height: 30px;
    .left,
    .right {
      padding: 0 15px;
    }
    .dots {
      margin-top: -5px;
      line-height: 4px;
    }
  }
  .list {
    flex: 1;
    overflow: hidden;
    .item {
      //개별항목
      display: block;
      color: inherit;
      padding-left: 15px;
      font-size: 15px;
      height: 46px;
      line-height: 46px;
      text-decoration: none;
      box-shadow: inset 0 -1px rgba(0, 0, 0, .1);
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, .1);
  }
}
